<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 配置connectionFactory -->
    <bean id="jmsFactory" class="org.apache.activemq.pool.PooledConnectionFactory" destroy-method="stop">
        <property name="connectionFactory">
            <bean class="org.apache.activemq.ActiveMQConnectionFactory">
                <property name="brokerURL" value="tcp://192.168.170.131:61616"/>
            </bean>
        </property>
    </bean>

    <!-- Spring JMS Template -->
    <bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
        <property name="connectionFactory" ref="jmsFactory"/>
        <property name="defaultDestinationName" value="subject"/>
        <!-- 区别它采用的模式为false是p2p为true是订阅 -->
        <property name="pubSubDomain" value="true"/>
    </bean>

    <!-- 发送消息的目的地（一个队列） -->
    <bean id="destination" class="org.apache.activemq.command.ActiveMQTopic">
        <property name="physicalName" value="subject"/>
    </bean>

    <!--<bean id="listenerContainer" class="org.springframework.jms.listener.DefaultMessageListenerContainer">
        <property name="concurrentConsumers" value="10"/>
        <property name="connectionFactory" ref="jmsFactory"/>
        <property name="destinationName" value="subject"/>
        <property name="messageListener" ref="messageReceiver"/>
        <property name="pubSubNoLocal" value="false"/>
    </bean>-->

    <!--<bean id="messageReceiver" class="com.scj.spring.mq.ProxyJMSConsumer">
        <property name="jmsTemplate" ref="jmsTemplate"/>
    </bean>-->

    <bean id="sender" class="com.scj.spring.mq.Sender">
        <property name="jmsTemplate" ref="jmsTemplate"/>
    </bean>

    <bean id="receiver" class="com.scj.spring.mq.Receiver">
        <property name="jmsTemplate" ref="jmsTemplate"/>
    </bean>
</beans>